<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div id = content>
  <h2>Привет, вот результат выполнения: </h2>
  <p>
    Результат: {{ result1 }} ; {{ result2 }} ; 
  </p>
  <p>
    User Object:{{ users[0].name }} {{ users[0].surname }};
  </p>
  <input type="text" #inputText1>
  <input type="text" #inputText2><br/>
  <div id="holder">
    <button (click) = "_onSum(inputText1.value , inputText2.value)">Sum</button> 
    <button (click) = "_onFixed(inputText1.value , inputText2.value)">onFixed</button> 
    <button (click) = "_sumFixed(inputText1.value , inputText2.value)">SumFixed</button> 
    <button (click) = "_onCycle()">Cycle</button> 
    <button (click) = "_decimal(inputText1.value )">Decimal</button> 
    <button (click) = "_Fib(inputText1.value , inputText2.value)">Fib</button> 
    <button (click) = "_random(inputText1.value , inputText2.value)">Random</button> 
    <button (click) = "_randomInt(inputText1.value , inputText2.value)">RandomInt</button> 
    <button (click) = "_firstUpper(inputText1.value)">First Upper</button> 
    <button (click) = "_truncate(inputText1.value , inputText2.value)">Truncate</button>
    <button (click) = "_extractCurrencyValue(inputText1.value)">Extract Currency Value</button>
    <button (click) = "_ChangeName(inputText1.value , inputText2.value)">Change Name</button>
    <button (click) = "_deleteName()">Delete Name</button>
    <button (click) = "_maxName()">Max Name</button>
    <button (click) = "_camelize(inputText1.value)">camelize</button>  
    <button (click) = "_sortArr(inputText1.value)">Sort arr</button>
    <button (click) = "_functionOfList(inputText1.value, inputText2.value)">Function list</button>
  </div>
  <p *ngFor="let i of sortArr">
    {{i}}
  </p>
</div>
